html {overflow-y: scroll}
:root { --bgcolor: white; --fontcolor: #444; --linkcolor: #00e; --visitedcolor: #551a8b; --precolor: #444; --prebgcolor: #ddd;}
@media (prefers-color-scheme: dark) { :root { --bgcolor: black; --fontcolor: white; --linkcolor: #5bf; --visitedcolor: #ae5ee0; --precolor: #fff; --prebgcolor: #383838;}}
body{max-width:800px;margin:40px auto;padding:0 10px;font:14px/1.5 monospace;color:var(--fontcolor); background: var(--bgcolor)}
a{text-decoration-style: dotted; text-decoration-thickness: 1px; color: var(--linkcolor)}
a:hover{text-decoration-style: solid}
h1,h2,h3{line-height:1.2}
nav a{padding-right: 0.5em; font-weight: bold;}
nav a.active{text-decoration-style: solid}
p > code{color: var(--precolor); background: var(--prebgcolor); padding:2px}
code{color: var(--precolor); background: var(--prebgcolor);}
pre{color: var(--precolor); background: var(--prebgcolor); padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
figcaption {color: #888; font: 12px/1.5 monospace; text-align: center;}
figure {margin: auto}
img {display: block; max-width: 100%; height: auto; margin: auto}
hr {margin-block-start: 2rem; margin-block-end: 2rem; border-top-width: 0; border-left-width: 0; border-style: dotted;}
footer {font-size: 12px;}
a.logo {color: var(--fontcolor); text-decoration: none}
a.logo:hover .shadow {color: var(--linkcolor)}
input[type=text] {font-family: monospace; padding: 4px 6px; border: 1px solid var(--fontcolor);}
.pagination {margin-top: 40px;}
details.audio summary {margin-top: 1em; cursor: pointer; color: var(--linkcolor); display: inline-block;}
details.audio audio {margin-top: 1em; display: block;}
blockquote { border-left: 5px solid var(--prebgcolor); margin-left: 0; padding-left: 1rem; margin-top: 2rem; margin-bottom: 2rem; }
figure blockquote { border-left: 5px solid var(--prebgcolor); margin-left: 0; padding-left: 1rem; margin-top: 2rem; margin-bottom: 1rem; }
figure blockquote + figcaption { text-align: left; margin-left: calc(1rem + 5px); margin-bottom: 2rem; }