{{ define "main" }}
	<main>
		<article>
			{{ if (.Title) }}<h1>{{ .Title }}</h1>{{ end }}
			{{ if (.Date) }}<b><time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time></b>{{ end }}
			{{- if and (.Lastmod) (ne .Lastmod .Date) -}}
				&nbsp;(Updated <time>{{ .Lastmod.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>)
			{{- end }}
			{{ partial "audio-player.html" . }}
			{{ range .Params.tags }}
		           <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
		</article>
		{{- if (.Params.bluesky) }}		
		<a href="https://bsky.app/profile/diggingforfire.blog/post/{{ .Params.bluesky }}" class="bluesky-link">Discuss on Bluesky</a>

		<script type="module" src="/js/bluesky-comments/load.mjs"></script>

		<bluesky-comments url="https://bsky.app/profile/diggingforfire.blog/post/{{ .Params.bluesky }}"></bluesky-comments>
		{{- end }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
