<header>
	<p>
		<pre style="line-height:16px; background:none;padding: 0;" role="img" aria-label="DfF">
			<a class="logo" href="{{ .Site.BaseURL }}" title="Digging for Fire">
 ██████████     ██████  ██████████ 
<span class="shadow">░░</span>███<span class="shadow">░░░░</span>███   ███<span class="shadow">░░░</span>██<span class="shadow">░░</span>███<span class="shadow">░░░░░</span>  
 <span class="shadow">░</span>███   <span class="shadow">░░</span>███ <span class="shadow">░</span>███  <span class="shadow">░░</span>  <span class="shadow">░</span>███       
 <span class="shadow">░</span>███    <span class="shadow">░</span>███ ███████   <span class="shadow">░</span>███████   
 <span class="shadow">░</span>███    <span class="shadow">░</span>███<span class="shadow">░░</span>███<span class="shadow">░░</span>    <span class="shadow">░</span>███<span class="shadow">░░░</span>    
 <span class="shadow">░</span>███    ███  <span class="shadow">░</span>███      <span class="shadow">░</span>███       
 ██████████   <span class="shadow">░</span>███      █████      
<span class="shadow">░░░░░░░░░░</span>    <span class="shadow">░░░</span>      <span class="shadow">░░░░░</span>       
			</a>
		</pre>
	</p>
	<nav>
		{{ with .Site.Menus.main }}
		{{ range . }}
	<a href="{{ .URL | relURL }}" {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}class="active"{{ end }}>{{ .Name }}</a>
		{{ end }}
	</nav>
	{{ end }}
</header>
{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}
